<body>
  <!--Comienzan los Modals-->
  <!--DatePicker Modal-->
  <ng-template #datePicker let-modal>
    <ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next"></ngb-datepicker>
  </ng-template>
  <nav class="navbar navbar-dark bg-dark elevated shake">
    <div class="container slideInLeft">
      <a class="navbar-brand text-light">Usuarios</a>
      <form class="form-inline">
        <button class="elevated text-center" matTooltip="Agregar Nuevo Usuario" mat-fab color="accent"
          (click)="agregarUsuario()"><i matListIcon class="fas fa-user-plus text-dark"></i></button>
      </form>
    </div>
  </nav>
  <div class="container">
    <h1 class="title text-center mt-4">
      Este es nuestro equipo
      <br>
      <small>Tu equipo presentado de una manera detallada.</small>
    </h1>
    <div class="row d-flex justify-content-center align-items-center">
      <div *ngFor="let usuario of Usuarios" class="col-md-4 col-sm-6">
        <div class="card-container elevated">
          <div class="card">
            <div class="front">
              <div class="cover">
                <img
                  src="https://firebasestorage.googleapis.com/v0/b/grupo-ac.appspot.com/o/AC%20Celulares%2FImagenesPerfiles%2FdefaultPortada1.png?alt=media&token=3ab46d3a-8be8-4c4f-b19e-960ef26e896d" />
              </div>
              <div class="user">
                <img class="img-circle" [src]="usuario.PhotoURL" />
              </div>
              <div class="content">
                <div class="main">
                  <h3 class="name">{{usuario.Nombres}}</h3>
                  <p class="profession">{{usuario.Cargo}} AC Celular</p>
                  <p class="text-center">Pago Acumulado:</p><br>
                  <p class="text-center text-success">C${{usuario.TotalAcumulado}}</p>
                </div>
              </div>
            </div> <!-- end front panel -->
            <div class="back">
              <div class="content">
                <div class="main">
                  <h4 class="text-center">Descripcion de Trabajo</h4>
                  <p class="text-center">Detalles de la actividad del Usuario.</p>

                  <div class="stats-container">
                    <div class="stats">
                      <h4>{{usuario.Reparaciones}}</h4>
                      <p>
                        Reparaciones
                      </p>
                    </div>
                    <div class="stats">
                      <h4>{{usuario.Ventas}}</h4>
                      <p>
                        Ventas
                      </p>
                    </div>
                    <div class="stats">
                      <h4>{{usuario.Flasheos}}</h4>
                      <p>
                        Flasheos
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mt-5">
                <div class="col-sm-12 col-md-12 col-lg-12 d-flex align-items-center justify-content-center">
                  <div class="mx-auto">
                    <button (click)="pagarleUsuario(usuario)" class="btn btn-primary">Realizar Pago</button>
                  </div>
                </div>
              </div>
            </div> <!-- end back panel -->
          </div> <!-- end card -->
        </div> <!-- end card-container -->
      </div>
    </div>
  </div>
</body>