<nav class="navbar navbar-dark bg-dark elevated shake">
  <div class="container slideInLeft">
    <a class="navbar-brand text-light">Inventario de Productos</a>
  </div>
</nav>

<body>
  <div class="container pt-4">
    <div class="mb-4 slideInLeft">
      <div class="container-fluid bg-info rounded-top p-4">
        <div class="float-right"><button class="elevated text-center bg-info" matTooltip="Agregar Producto" mat-fab><i
              matListIcon class="fas fa-plus text-dark"></i></button></div>
        <mat-form-field class="ml-4">
          <input matInput color="warn" (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
        </mat-form-field>
      </div>
      <table mat-table [dataSource]="dataSource" matSort class="table-hover">

        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>

        <!-- Marca Column -->
        <ng-container matColumnDef="Marca">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Marca </th>
          <td mat-cell *matCellDef="let row"> {{row.Marca}} </td>
        </ng-container>

        <!-- Modelo Column -->
        <ng-container matColumnDef="Modelo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Modelo </th>
          <td mat-cell *matCellDef="let row"> {{row.Modelo}} </td>
        </ng-container>

        <!-- Existencia Column -->
        <ng-container matColumnDef="Existencia">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Existencia </th>
          <td mat-cell *matCellDef="let row"> {{row.Existencia}} </td>
        </ng-container>

        <!-- Precio de Compra Column -->
        <ng-container matColumnDef="pCompra">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> P. Compra </th>
          <td mat-cell *matCellDef="let row" class="text-primary"> {{row.pCompra}} </td>
        </ng-container>

        <!-- Precio de Venta Column -->
        <ng-container matColumnDef="pVenta">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> P. Venta </th>
          <td mat-cell *matCellDef="let row" class="text-success"> {{row.pVenta}} </td>
        </ng-container>

        <!-- Nombre Column -->
        <ng-container matColumnDef="Nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
          <td mat-cell *matCellDef="let row"> {{row.Nombre}} </td>
        </ng-container>

        <!-- Tipo Column -->
        <ng-container matColumnDef="Tipo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </th>
          <td mat-cell *matCellDef="let row"> {{row.Tipo}} </td>
        </ng-container>

        <!--Aqui comienzan los TH-->
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator class="elevated mb-3" [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</body>