<nav class="navbar navbar-dark bg-dark elevated shake">
  <div class="container slideInLeft">
    <a class="navbar-brand text-light">Inventario de Productos</a>
  </div>
</nav>

<body>
  <!--Comienzan los Modals-->

  <!--Venta Rapida modal-->
  <ng-template #ventaRapida let-modal>
    <app-venta-rapida [producto]="producto" [cliente]="null" (cerrarModalVentaRapida)="modal.dismiss('Cross click')">
    </app-venta-rapida>
  </ng-template>

  <!--Agregar nuevo producto modal-->
  <ng-template #agregarProducto let-modal>
    <div class="modal-header bg-info">
      <h4 class="modal-title">Agregar Producto</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form class="example-form">

        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="ID de Producto" [(ngModel)]="Id" name="Id" required disabled>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <input type="text" matInput placeholder="Nombre" [(ngModel)]="Nombre" name="Nombre">
              </mat-form-field>
            </td>
          </tr>
        </table>
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Marca" required [(ngModel)]="Marca" name="Marca">
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Modelo" required [(ngModel)]="Modelo" name="Modelo">
              </mat-form-field>
            </td>
          </tr>
        </table>

        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <textarea matInput placeholder="Descripción" required [(ngModel)]="Descripcion"
                  name="Descripcion"></textarea>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <input type="number" placeholder="Existencia" matInput required [(ngModel)]="Existencia"
                  name="Existencia">
              </mat-form-field>
            </td>
          </tr>
        </table>

        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field>
                <input type="number" placeholder="Precio de Compra" matInput required [(ngModel)]="PCompra"
                  name="PCompra">
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <input type="number" placeholder="Precio de Venta" matInput required [(ngModel)]="PVenta" name="PVenta">
              </mat-form-field>
            </td>
          </tr>
        </table>
        <div class="row">
          <div class="col-10">
            <mat-form-field style="width: 100%;">
              <mat-select placeholder="Categoria" required [(ngModel)]="Categoria" name="Categoria">
                <mat-option *ngFor="let categoria of categorias" [value]="categoria">
                  {{categoria}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-2">
            <button mat-icon-button matTooltip="Agregar una Nueva Categoria" class="text-success mx-auto"
              (click)='openVerticallyCentered(agregarCategorias, producto)'>
              <mat-icon>add_circle</mat-icon>
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Cancelar</button>
      <button type="button" class="btn btn-info" (click)="agregarProductos()">Agregar</button>
    </div>
  </ng-template>
  <!--Agregar Existencias Modal-->
  <ng-template #agregarExistencias let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Agregar Existencias de Producto</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form class="example-form">

        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Clave de Producto" disabled value="{{producto.Id}}">
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <input type="number" matInput placeholder="Cantidad a Agregar" [(ngModel)]="nuevaExistencia"
                  name="nuevaExistencia">
              </mat-form-field>
            </td>
          </tr>
        </table>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Cancelar</button>
      <button type="button" class="btn btn-success"
        (click)="modal.close('Close click'); agregarExistencia()">Agregar</button>
    </div>
  </ng-template>
  <!--Agregar Categorias Modal-->
  <ng-template #agregarCategorias let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Agregar nueva Categoria de Producto</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <mat-form-field style="width: 100%">
        <input matInput placeholder="Nombre de nueva Categoria" [(ngModel)]="nuevaCategoria" name="nuevaCategoria">
      </mat-form-field>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Cancelar</button>
      <button type="button" class="btn btn-success"
        (click)="modal.close('Close click'); agregarCategoria()">Agregar</button>
    </div>
  </ng-template>

  <!--Ver Producto Modal-->
  <ng-template #verProducto let-modal>
    <div class="modal-header bg-primary">
      <h4 class="modal-title text-light">Ver Producto</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body bg-primary">
      <table class="example-full-width text-light" cellspacing="0">
        <tr>
          <td>
            ID:
          </td>
          <td>
            {{producto.Id}}
          </td>
        </tr>
        <tr>
          <td>Nombre:</td>
          <td>{{producto.Nombre}}</td>
        </tr>
        <tr>
          <td>Marca:</td>
          <td>{{producto.Marca}}</td>
        </tr>
        <tr>
          <td>Modelo:</td>
          <td>{{producto.Modelo}}</td>
        </tr>
        <tr>
          <td>Categoria:</td>
          <td>{{producto.Categoria}}</td>
        </tr>
        <tr>
          <td>Existencia:</td>
          <td>{{producto.Existencia}}</td>
        </tr>
        <tr>
          <td>Precio de Compra:</td>
          <td>{{producto.PCompra}}</td>
        </tr>
        <tr>
          <td>Precio de Venta:</td>
          <td>{{producto.PVenta}}</td>
        </tr>
        <tr>
          <td>Descripción:</td>
          <td>{{producto.Descripcion}}</td>
        </tr>
      </table>
    </div>
    <div class="modal-footer bg-primary">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Cerrar</button>
    </div>
  </ng-template>

  <!--Eliminar Producto Modal-->
  <ng-template #eliminarProducto let-modal>
    <div class="modal-header bg-danger">
      <h4 class="modal-title text-light">Eliminar Producto</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body bg-danger">
      <p class="text-light">¿Estás seguro que deseas eliminar el producto {{producto.Id}}</p>
    </div>
    <div class="modal-footer bg-danger">
      <button type="button" class="btn btn-light"
        (click)="modal.close('Close click'); eliminarProductos()">Eliminar</button>
      <button type="button" class="btn btn-warning" (click)="modal.close('Close click')">Cancelar</button>
    </div>
  </ng-template>

  <!--Editar Producto Modal-->
  <ng-template #editarProducto let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Editar Producto {{producto.Id}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form class="example-form">
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="ID" disabled [(ngModel)]="producto.Id" name="producto.Id">
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <input type="number" matInput placeholder="Existencias" [(ngModel)]="producto.Existencia"
                  name="producto.Existencia">
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Nombre" [(ngModel)]="producto.Nombre" name="producto.Nombre">
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Marca" [(ngModel)]="producto.Marca" name="producto.Marca">
              </mat-form-field>
            </td>
          </tr>
        </table>
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Modelo" [(ngModel)]="producto.Modelo" name="producto.Modelo">
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Categoria" [(ngModel)]="producto.Categoria" name="producto.Categoria">
              </mat-form-field>
            </td>
          </tr>
        </table>

        <p>
          <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Descripción" [(ngModel)]="producto.Descripcion"
              name="producto.Descripcion"></textarea>
          </mat-form-field>
        </p>

        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input type="number" matInput placeholder="Precio de Compra" [(ngModel)]="producto.PCompra"
                  name="producto.PCompra">
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <input type="number" matInput placeholder="Precio de Venta" [(ngModel)]="producto.PVenta"
                  name="producto.PVenta">
              </mat-form-field>
            </td>
          </tr>
        </table>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-warning"
        (click)="editarProductos(); modal.close('Close click')">Actualizar</button>
      <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Cancelar</button>
    </div>
  </ng-template>

  <!--Reservar Producto Modal-->
  <ng-template #reservarProducto let-modal>
    <app-reservar-producto (cerrarModalVentaRapida)="modal.dismiss('Cross click')" [cliente]="null"
      [producto]="producto"></app-reservar-producto>
  </ng-template>

  <!--Main Content-->
  <div class="container pt-4">
    <div class="mb-4 slideInLeft">
      <div class="container-fluid bg-info rounded-top p-4">
        <div class="float-right">
          <button (click)='openVerticallyCentered(agregarProducto,producto)' class="elevated text-center bg-info mr-3"
            matTooltip="Agregar Producto" mat-fab><i matListIcon class="fas fa-plus text-dark"></i>
          </button>
          <button (click)="imprimirInventario()" class="elevated text-center bg-info"
            matTooltip="Imprimir Inventario o Exportar a PDF" mat-fab *ngIf="hayDatos">
            <mat-icon>print</mat-icon>
          </button>
        </div>
        <mat-form-field class="ml-4" *ngIf="hayDatos">
          <input matInput color="warn" (keyup)="applyFilter()" name="valorBusqueda" [(ngModel)]="valorBusqueda"
            placeholder="Buscar Producto">
        </mat-form-field>
      </div>
      <table *ngIf="hayDatos; else noHayDatos" mat-table [dataSource]="dataSource" matSort class="table-hover">

        <!-- Clave Column -->
        <ng-container matColumnDef="Id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
          <td mat-cell *matCellDef="let producto" class="text-center"> {{producto.Id}} </td>
        </ng-container>

        <!-- Marca Column -->
        <ng-container matColumnDef="Marca">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Marca </th>
          <td mat-cell *matCellDef="let producto" class="text-center"> {{producto.Marca}} </td>
        </ng-container>

        <!-- Modelo Column -->
        <ng-container matColumnDef="Modelo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Modelo </th>
          <td mat-cell *matCellDef="let producto" class="text-center"> {{producto.Modelo}} </td>
        </ng-container>

        <!-- Existencia Column -->
        <ng-container matColumnDef="Existencia">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Existencia </th>
          <td mat-cell *matCellDef="let producto" class="text-center"> {{producto.Existencia}} </td>
        </ng-container>

        <!-- Precio de Compra Column -->
        <ng-container matColumnDef="PCompra">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> PCompra </th>
          <td mat-cell *matCellDef="let producto" class="text-center text-primary"> {{producto.PCompra}} </td>
        </ng-container>

        <!-- Precio de Venta Column -->
        <ng-container matColumnDef="PVenta">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> PVenta </th>
          <td mat-cell *matCellDef="let producto" class="text-center text-success"> {{producto.PVenta}} </td>
        </ng-container>

        <!-- Nombre Column -->
        <ng-container matColumnDef="Nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
          <td mat-cell *matCellDef="let producto" class="text-center"> {{producto.Nombre}} </td>
        </ng-container>

        <!-- Categoria Column -->
        <ng-container matColumnDef="Categoria">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Catégoria </th>
          <td mat-cell *matCellDef="let producto" class="text-center"> {{producto.Categoria}} </td>
        </ng-container>

        <!-- Acciones Column -->
        <ng-container matColumnDef="Acciones">
          <th mat-header-cell *matHeaderCellDef class="text-center"> Acciones </th>
          <td mat-cell *matCellDef="let producto" class="text-center">
            <div class="example-button-row">
              <button mat-icon-button matTooltip="Agregar Existencia" class="text-success"
                (click)='openVerticallyCentered(agregarExistencias, producto)'>
                <mat-icon>add_circle</mat-icon>
              </button>
              <button mat-icon-button color="warn" matTooltip="Eliminar Producto"
                (click)='openVerticallyCentered(eliminarProducto, producto)'>
                <mat-icon>delete</mat-icon>
              </button>
              <button mat-icon-button color="accent" matTooltip="Editar Producto"
                (click)='openVerticallyCentered(editarProducto, producto)'>
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button class="text-primary" matTooltip="Ver Producto"
                (click)='openVerticallyCentered(verProducto, producto)'>
                <mat-icon>remove_red_eye</mat-icon>
              </button>
              <button mat-icon-button class="text-secondary" matTooltip="Reservar Producto"
                (click)='openVerticallyCentered(reservarProducto, producto)'>
                <mat-icon>bookmark</mat-icon>
              </button>
              <button mat-icon-button matTooltip="Venta Rápida" (click)='openVerticallyCentered(ventaRapida, producto)'>
                <mat-icon style="color: orange;">offline_bolt</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <!--Aqui comienzan los TH-->
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
        <tr mat-row *matRowDef="let producto; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator *ngIf="hayDatos" class="elevated mb-3" [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons>
      </mat-paginator>
      <ng-template #noHayDatos>
        <div class="jumbotron">
          <div class="display-3 text-center">
            Aún no hay Productos! :(
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</body>