<div class="jumbotron hero-technology full-screen-hero" style="width: auto; height: auto;">
    <div class="box">
        <mat-card id="form_login" class="shadow">
            <div>
                <h4 class=" text-center mb-4">
                    Agregar Usuario
                </h4>
                <form>
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                            <div class="form-group">
                                <label class="text-warning">Nombres</label>
                                <div class="input required-group">
                                    <input required type="text" aria-label="Primer Nombre" class="mb-3 form-control"
                                        placeholder="Primer Nombre" name="primerNombre" [(ngModel)]="primerNombre"
                                        (keyup)="crearUsername()">
                                    <input required type="text" aria-label="Segundo Nombre" class="mb-3 form-control"
                                        placeholder="Segundo Nombre" name="segundoNombre" [(ngModel)]="segundoNombre"
                                        (keyup)="toUpper()">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                            <div class="form-group">
                                <label class="text-warning">Apellidos</label>
                                <div class="input required-group">
                                    <input required type="text" aria-label="Primer Apellido" class="mb-3 form-control"
                                        placeholder="Primer Apellido" name="primerApellido" [(ngModel)]="primerApellido"
                                        (keyup)="crearUsername()">
                                    <input required type="text" aria-label="Segundo Apellido" class="mb-3 form-control"
                                        placeholder="Segundo Apellido" name="segundoApellido" [(ngModel)]="segundoApellido"
                                        (keyup)="toUpper()">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                            <div class="form-group">
                                <label class="text-warning">Nombre de Usuario (Auto Generado)</label>
                                <input required type="text" class="form-control" placeholder="Username" disabled="true"
                                    name="username" [(ngModel)]="username">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                            <div class="form-group">
                                <label class="text-warning">Email</label>
                                <input required type="email" class="form-control" placeholder="Correo Electrónico" name="correo"
                                    [(ngModel)]="correo">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                            <div class="form-group">
                                <label class="text-warning">Contraseña</label>
                                <input required type="password" class="form-control" placeholder="Contraseña" name="contrasena"
                                    [(ngModel)]="contrasena">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                            <mat-form-field class="mb-3 mt-4" style="width: 100%;">
                                <mat-select placeholder="Tipo de Usuario" [(ngModel)]="tipo" name="tipo">
                                    <mat-option value="Administrador">Administrador</mat-option>
                                    <mat-option value="Estandar">Estándar</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                            <div class="form-group">
                                <label class="text-warning">Cargo</label>
                                <input required type="text" class="form-control" placeholder="Cargo" name="cargo"
                                    [(ngModel)]="cargo" (keyup)="toUpper()">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                            <div class="form-group">
                                <label class="text-warning">Cédula</label>
                                <input required type="text" class="form-control" placeholder="Cédula" name="cedula"
                                    [(ngModel)]="cedula" (keyup)="toUpper()">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                            <mat-form-field class="mb-3 mt-4" style="width: 100%;">
                                <mat-select placeholder="Pertenece a:" name="pertenece" [(ngModel)]="pertenece">
                                    <mat-option value="Pertenece1">Tienda Principal</mat-option>
                                    <mat-option value="Pertenece2">Tienda Secundaria</mat-option>
                                    <mat-option value="Pertenece3">Tienda Terciaria</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="text-warning">Teléfono Móvil</label>
                        <input name="telefono" [(ngModel)]="celular" required type="number" class="form-control"
                            placeholder="Celular">
                    </div>
                    <button type="submit" (click)="agregarUsuario()" class="shadow btn btn-warning">Registrar Usuario</button>
                </form>
            </div>
        </mat-card>
    </div>
</div>