<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="sidePanelCerrado bounceIn" id="sidenavPanel" mode="side" [opened]='mostrarNav'>
    <div class="container text-center d-block" *ngIf="abierto; else avatar2">
      <img src="{{photoUrl}}" alt="Avatar" class="mx-auto avatar mt-4">
      <div class="text-light mt-2">
        {{nombre}}
      </div>
    </div>
    <ng-template #avatar2>
      <div class="container-fluid mx-auto">
        <img src="{{photoUrl}}" alt="Avatar" class="mx-auto avatar2 mt-4">
        <div class="text-light mt-2">
          &nbsp;
        </div>
      </div>
    </ng-template>
    <mat-list *ngIf="!abierto" class="pt-2 text-center align-middle">
      <a matTooltip="Inicio" class="onHover mx-auto" mat-list-item style="text-decoration: none;"
        (click)="navegar('dashboard')">
        <i matListIcon class="mx-auto fas fa-home text-light"></i>
      </a>
      <a matTooltip="Inventario" class="mt-2 onHover mx-auto" mat-list-item style="text-decoration: none;"
        (click)="navegar('inventario')">
        <i matListIcon class="mx-auto fas fa-boxes text-light"></i>
      </a>
      <a matTooltip="Pedidos" class="mt-2 onHover mx-auto" mat-list-item style="text-decoration: none;"
        (click)="navegar('pedidos')">
        <i matListIcon class="mx-auto fas fa-parachute-box text-light"></i>
      </a>
      <a matTooltip="Facturar" class="mt-2 onHover mx-auto" mat-list-item style="text-decoration: none;"
        (click)="navegar('facturar')">
        <i matListIcon class="mx-auto fas fa-file-invoice-dollar text-light"></i>
      </a>
      <a matTooltip="Créditos" class="mt-2 onHover mx-auto" mat-list-item style="text-decoration: none;"
        (click)="navegar('creditos')">
        <i matListIcon class="mx-auto fas fa-hand-holding-usd text-light"></i>
      </a>
      <a matTooltip="Servicios Técnicos" class="mt-2 onHover mx-auto" mat-list-item style="text-decoration: none;"
        (click)="navegar('servicios')">
        <i matListIcon class="mx-auto fas fa-toolbox text-light"></i>
      </a>
      <a matTooltip="Sistema de Apartado" class="mt-2 onHover mx-auto" mat-list-item style="text-decoration: none;"
        (click)="navegar('sistemaApartado')">
        <i matListIcon class="mx-auto fas fa-bookmark text-light"></i>
        <h3 matLine class="text-light" *ngIf="abierto"> Sistema de <br>Apartado </h3>
      </a>
      <a matTooltip="Usuarios" class="mt-2 onHover mx-auto" mat-list-item style="text-decoration: none;"
        (click)="navegar('usuarios')">
        <i matListIcon class="mx-auto fas fa-user-friends text-light"></i>
      </a>
      <a matTooltip="Clientes" class="mt-2 onHover mx-auto" mat-list-item style="text-decoration: none;"
        (click)="navegar('clientes')">
        <i matListIcon class="mx-auto fas fa-users text-light"></i>
      </a>


      <a matTooltip="Servicios Básicos del Local" class="mt-2 onHover mx-auto" mat-list-item
        style="text-decoration: none;" (click)="navegar('pagoservicios')">
        <i matListIcon class="mx-auto fas fa-lightbulb text-light"></i>
      </a>
      <hr>
      <a matTooltip="Mi Perfil" class="mt-2 onHover mx-auto" mat-list-item style="text-decoration: none;"
        (click)="navegar('perfil')">
        <i matListIcon class="mx-auto fas fa-user-circle text-light"></i>
      </a>
      <div class="container mt-4 text-center mb-4">
        <button mat-mini-fab (click)="logout()" matTooltip="Cerrar Sesión" class="bg-danger">
          <mat-icon class="text-light">exit_to_app</mat-icon>
        </button>
      </div>
    </mat-list>
    <mat-list *ngIf="abierto" class="pt-2 text-center align-middle">
      <a matTooltip="Inicio" class="onHover mx-auto" mat-list-item style="text-decoration: none;"
        (click)="navegar('dashboard')">
        <i matListIcon class="mx-auto fas fa-home text-light"></i>
        <h3 matLine class="text-light"> Inicio </h3>
      </a>
      <a class="mt-2 onHover mx-auto" mat-list-item style="text-decoration: none;" (click)="navegar('inventario')">
        <i matListIcon class="mx-auto fas fa-boxes text-light"></i>
        <h3 matLine class="text-light"> Inventario </h3>
      </a>
      <a class="mt-2 onHover mx-auto" mat-list-item style="text-decoration: none;" (click)="navegar('inventario')">
        <i matListIcon class="mx-auto fas fa-parachute-box text-light"></i>
        <h3 matLine class="text-light"> Pedidos </h3>
      </a>
      <a class="mt-2 onHover mx-auto" mat-list-item style="text-decoration: none;" (click)="navegar('facturar')">
        <i matListIcon class="mx-auto fas fa-file-invoice-dollar text-light"></i>
        <h3 matLine class="text-light"> Facturar </h3>
      </a>
      <a class="mt-2 onHover mx-auto" mat-list-item style="text-decoration: none;" (click)="navegar('creditos')">
        <i matListIcon class="mx-auto fas fa-hand-holding-usd text-light"></i>
        <h3 matLine class="text-light"> Crédito </h3>
      </a>
      <a class="mt-2 onHover mx-auto" mat-list-item style="text-decoration: none;" (click)="navegar('servicios')">
        <i matListIcon class="mx-auto fas fa-toolbox text-light"></i>
        <h3 matLine class="text-light"> Servicios </h3>
      </a>
      <a class="mt-2 onHover mx-auto" mat-list-item style="text-decoration: none;" (click)="navegar('sistemaApartado')">
        <i matListIcon class="mx-auto fas fa-bookmark text-light"></i>
        <h3 matLine class="text-light"> Sistema de <br>Apartado </h3>
      </a>
      <a class="mt-2 onHover mx-auto" mat-list-item style="text-decoration: none;" (click)="navegar('usuarios')">
        <i matListIcon class="mx-auto fas fa-user-friends text-light"></i>
        <h3 matLine class="text-light"> Usuarios </h3>
      </a>
      <a class="mt-2 onHover mx-auto" mat-list-item style="text-decoration: none;" (click)="navegar('clientes')">
        <i matListIcon class="mx-auto fas fa-users text-light"></i>
        <h3 matLine class="text-light"> Clientes </h3>
      </a>


      <a class="mt-2 onHover mx-auto" mat-list-item style="text-decoration: none;" (click)="navegar('pagoservicios')">
        <i matListIcon class="mx-auto fas fa-lightbulb text-light"></i>
        <h3 matLine class="text-light"> Pago de <br>Servicios </h3>
      </a>
      <hr>
      <a class="mt-2 onHover mx-auto" mat-list-item style="text-decoration: none;" (click)="navegar('perfil')">
        <i matListIcon class="mx-auto fas fa-user-circle text-light"></i>
        <h3 matLine class="text-light"> Mi Perfil </h3>
      </a>
      <div class="container mt-4 text-center mb-4">
        <button mat-raised-button color="warn" class="elevated" (click)="logout()"><i matListIcon
            class="mx-auto fas fa-sign-out-alt text-light"></i>
          Cerrar Sesion
        </button>
      </div>
    </mat-list>
    <div class="container-fluid text-center position-sticky fixed-bottom" *ngIf="abierto; else cerrado"
      style="background-color: gray;">
      <button mat-icon-button class="mx-auto" (click)="abrirCerrar()" matTooltip="Contraer">
        <mat-icon class="text-light mx-auto">arrow_back_ios</mat-icon>
      </button>
      <!--<button mat-icon-button (click)="abrirCerrar()" matTooltip="Contraer">
        <mat-icon class="text-light">arrow_back_ios</mat-icon>
      </button>-->
    </div>
    <ng-template #cerrado>
      <div class="container-fluid text-center position-sticky fixed-bottom" style="background-color: gray;">
        <button mat-icon-button class="mx-auto" (click)="abrirCerrar()" matTooltip="Expandir">
          <mat-icon class="rotated text-light mx-auto">arrow_back_ios</mat-icon>
        </button>
      </div>
      <!--<button mat-icon-button (click)="abrirCerrar()" matTooltip="Expandir">
        <mat-icon class="text-light rotated">arrow_back_ios</mat-icon>
      </button>-->
    </ng-template>
  </mat-drawer>
  <mat-drawer-content class="example-sidenav-content">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>