<nav class="navbar navbar-dark bg-dark elevated shake">
  <button (click)="regresar()" matTooltip="Regresar" mat-fab class="mr-2 bg-dark">
    <mat-icon class="text-light">arrow_back</mat-icon>
  </button>
  <div class="container slideInLeft">
    <a class="navbar-brand text-light">Compras de Edycar Jesus Reyes Jimenez</a>
  </div>
</nav>

<body>
  <div class="container">
    <div class="mt-4">
      <app-tabla-historial-compras-cliente></app-tabla-historial-compras-cliente>
    </div>
  </div>
</body>