<body>
  <nav class="navbar navbar-dark bg-dark elevated shake">
    <div class="container slideInLeft">
      <a class="navbar-brand text-light">Servicios Básicos del Local</a>
      <form class="form-inline">
        <button mat-icon-button class="col" matTooltip="Agregar Nuevo Servicio Técnico">
          <mat-icon class="text-white">add</mat-icon>
        </button>
      </form>
    </div>
  </nav>
  <div class="container mt-5">
    <div class="row mt-5">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-3 d-flex align-items-center justify-content-center">
        <div class="card border-secondary mb-3" style="max-width: 18rem; min-width: 1rem;">
          <div class="card-header bg-trasnparent bg-primary text-center text-light">Servicio de Agua</div>
          <div class="card-body text-secondary">
            <img src="../../../assets/pagoServicios/aguaLogo.jpg" alt="Agua Logo" style="width: 100%;">
          </div>
          <div class="card-footer bg-transparent border-secondary">
            <div class="row">
              <button mat-icon-button class="col-4" matTooltip="Facturar Servicio">
                <mat-icon class="text-secondary">calendar_today</mat-icon>
              </button>
              <button mat-icon-button class="col-4" color="accent" matTooltip="Editar Detalles de Servicio">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button class="col-4" color="warn" matTooltip="Eliminar Servicio">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-3 d-flex align-items-center justify-content-center">
        <div class="card border-secondary mb-3" style="max-width: 18rem; min-width: 1rem;">
          <div class="card-header bg-trasnparent bg-primary text-center text-light">Servicio de Energía</div>
          <div class="card-body text-secondary">
            <img src="../../../assets/pagoServicios/energiaLogo.jpg" alt="Energia Logo" style="width: 100%;">
          </div>
          <div class="card-footer bg-transparent border-secondary">
            <div class="row">
              <button mat-icon-button class="col-4" matTooltip="Facturar Servicio">
                <mat-icon class="text-secondary">calendar_today</mat-icon>
              </button>
              <button mat-icon-button class="col-4" color="accent" matTooltip="Editar Detalles de Servicio">
                <mat-icon>edit</mat-icon>
              </button>
              <button type="button" mat-icon-button class="col-4" color="warn" matTooltip="Eliminar Servicio"
                data-toggle="modal" data-target="#exampleModalLong">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-3 d-flex align-items-center justify-content-center">
        <div class="card border-secondary mb-3" style="max-width: 18rem; min-width: 1rem;">
          <div class="card-header bg-trasnparent bg-primary text-center text-light">Claro Hogar</div>
          <div class="card-body text-secondary">
            <img src="../../../assets/pagoServicios/casaClaro.jpg" alt="Energia Logo" style="width: 100%;">
          </div>
          <div class="card-footer bg-transparent border-secondary">
            <div class="row">
              <button mat-icon-button class="col-4" matTooltip="Facturar Servicio">
                <mat-icon class="text-secondary">calendar_today</mat-icon>
              </button>
              <button mat-icon-button class="col-4" color="accent" matTooltip="Editar Detalles de Servicio">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button class="col-4" color="warn" matTooltip="Eliminar Servicio">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-3 d-flex align-items-center justify-content-center">
        <div class="card border-secondary mb-3" style="max-width: 18rem; min-width: 1rem;">
          <div class="card-header bg-trasnparent bg-primary text-center text-light">Pago de Impuestos</div>
          <div class="card-body text-secondary">
            <img src="../../../assets/pagoServicios/impuestosLogo.jpg" alt="Impuestos Logo" style="width: 100%;">
          </div>
          <div class="card-footer bg-transparent border-secondary">
            <div class="row">
              <button mat-icon-button class="col-4" matTooltip="Facturar Servicio">
                <mat-icon class="text-secondary">calendar_today</mat-icon>
              </button>
              <button mat-icon-button class="col-4" color="accent" matTooltip="Editar Detalles de Servicio">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button class="col-4" color="warn" matTooltip="Eliminar Servicio">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>