<div class="d-flex justify-content-center align-items-center jumbotron hero-technology full-screen-hero"
  style="width: auto; height: auto;">
  <div class="row d-flex justify-content-center align-items-center">
    <div *ngIf="tienda1" class="col-sm-6 col-md-6 col-lg-6">
      <div class="card mx-auto shadow-lg bg-white bounceIn" style="width: 18rem;">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/grupo-ac.appspot.com/o/AC%20Celulares%2FmainBackgroundLogin.jpg?alt=media&token=e79c3cdf-5e2e-48d1-b9aa-511aaa05d67a"
          class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title">AC Celulares</h5>
          <button (click)="seleccionarTienda('Tienda Principal')" class="btn btn-warning elevated">Seleccionar <i
              class="fas fa-arrow-right"></i></button>
        </div>
      </div>
    </div>
    <div *ngIf="tienda2" class="col-sm-6 col-md-6 col-lg-6">
      <div class="card mx-auto shadow-lg bg-white bounceIn" style="width: 18rem;">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/grupo-ac.appspot.com/o/AC%20Celulares%2FmainBackgroundLogin.jpg?alt=media&token=e79c3cdf-5e2e-48d1-b9aa-511aaa05d67a"
          class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title">AC Celulares 2</h5>
          <button (click)="seleccionarTienda('Tienda 2')" class="btn btn-warning elevated">Seleccionar <i
              class="fas fa-arrow-right"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>