<div class="d-flex justify-content-center align-items-center jumbotron hero-technology full-screen-hero" style="width: auto; height: auto;">
  <div class="row d-flex justify-content-center align-items-center">
    <div *ngIf="tienda1" class="col-sm-4 col-md-4 col-lg-4">
      <div class="card mx-auto shadow-lg bg-white bounceIn" style="width: 18rem;">
        <img src="../../../assets/Login/mainBackgroundLogin.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title">AC Celulares</h5>
          <button (click)="seleccionarTienda('Tienda Principal')" class="btn btn-warning elevated">Seleccionar <i class="fas fa-arrow-right"></i></button>
        </div>
      </div>
    </div>
    <div *ngIf="tienda2" class="col-sm-4 col-md-4 col-lg-4">
      <div class="card mx-auto shadow-lg bg-white bounceIn" style="width: 18rem;">
        <img src="../../../assets/Login/mainBackgroundLogin.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title">AC Celulares 2</h5>
          <button disabled (click)="seleccionarTienda('Tienda 2')" class="btn btn-warning elevated">Seleccionar <i
              class="fas fa-arrow-right"></i></button>
        </div>
      </div>
    </div>
    <div *ngIf="tienda3" class="col-sm-4 col-md-4 col-lg-4">
      <div class="card mx-auto shadow-lg bg-white bounceIn" style="width: 18rem;">
        <img src="../../../assets/Login/mainBackgroundLogin.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title">AC Celulares 3</h5>
          <button disabled (click)="seleccionarTienda('Tienda 3')" class="btn btn-warning elevated">Seleccionar <i
              class="fas fa-arrow-right"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>