<div class="jumbotron hero-technology full-screen-hero" style="width: auto; height: auto;">
  <div class="box">
    <div id="form_login">
      <div class="card mb-4 mr-4 elevated" style="width: 18rem;">
        <img src="../../../assets/Login/mainBackgroundLogin.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title">AC Celulares</h5>
          <a href="#" class="btn btn-warning">Seleccionar <i class="fas fa-arrow-right"></i></a>
        </div>
      </div>
      <div class="card mb-4 mr-4 elevated" style="width: 18rem;">
        <img src="../../../assets/Login/mainBackgroundLogin.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title">AC Celulares 2</h5>
          <a href="#" class="btn btn-warning">Seleccionar <i class="fas fa-arrow-right"></i></a>
        </div>
      </div>
      <div class="card mb-4 mr-4 elevated" style="width: 18rem;">
        <img src="../../../assets/Login/mainBackgroundLogin.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title">ACR Motos</h5>
          <a href="#" class="btn btn-warning">Seleccionar <i class="fas fa-arrow-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>