/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
.elevated {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
body {
  background-color: #e5e9ed;
  margin: 0;
  min-height: 100vh;
}
#toast-container > div {
  opacity: 1;
}
.cdk-overlay-container {
  z-index: 2000;
}
