<div class="modal-header bg-warning">
  <h4 class="modal-title">Agregar Cliente</h4>
  <button type="button" class="close" aria-label="Close" (click)="cerrarModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="container-fluid">
    <div class="text-center text-warning">
      Datos Generales
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
      <div class="form-group">
        <label class="text-warning">Nombres</label>
        <div class="input required-group">
          <input required type="text" aria-label="Primer Nombre" class="mb-3 form-control" placeholder="Primer Nombre"
            name="primerNombre" [(ngModel)]="primerNombre" (keyup)="toUpper()" required>
          <input required type="text" aria-label="Segundo Nombre" class="mb-3 form-control" placeholder="Segundo Nombre"
            name="segundoNombre" [(ngModel)]="segundoNombre" (keyup)="toUpper()" required>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
      <div class="form-group">
        <label class="text-warning">Apellidos</label>
        <div class="input required-group">
          <input required type="text" aria-label="Primer Apellido" class="mb-3 form-control" placeholder="Primer Apellido"
            name="primerApellido" [(ngModel)]="primerApellido" (keyup)="toUpper()" required>
          <input required type="text" aria-label="Segundo Apellido" class="mb-3 form-control" placeholder="Segundo Apellido"
            name="segundoApellido" [(ngModel)]="segundoApellido" (keyup)="toUpper()" required>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="text-center text-warning">
      Datos Personales
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
      <mat-form-field style="width: 100%;">
        <mat-select placeholder="Tipo de Usuario" [(ngModel)]="tipoUsuario" name="tipoUsuario" required>
          <mat-option value="Premium">
            Premium
          </mat-option>
          <mat-option value="Estandar">
            Estandar
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
      <mat-form-field style="width: 100%;">
        <input type="number" placeholder="Numero Telefónico" matInput required name="celular" [(ngModel)]="celular">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
      <mat-form-field style="width: 100%;">
        <input placeholder="Cédula" type="text" matInput name="cedula" [(ngModel)]="cedula" (keyup)="toUpper()">
      </mat-form-field>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
      <mat-form-field style="width: 100%;">
        <mat-select required placeholder="Sexo" name="sexo" [(ngModel)]="sexo">
          <mat-option value="Masculino">
            Masculino
          </mat-option>
          <mat-option value="Femenino">
            Femenino
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <mat-form-field style="width: 100%;">
    <input matInput type="email" placeholder="Correo Electrónico" name="email" [(ngModel)]="email">
  </mat-form-field>
  <div class="container-fluid">
    <div class="text-center text-warning">
      Datos de Vivienda
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
      <mat-form-field style="width: 100%;">
        <mat-select required placeholder="Departamento" name="departamento" [(ngModel)]="departamento">
          <mat-option *ngFor="let departamento of departamentos" value="departamento">
            {{departamento}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
      <mat-form-field style="width: 100%;">
        <mat-select required placeholder="Municipio" name="municipio" [(ngModel)]="municipio">
          <mat-optgroup class="text-primary" *ngFor="let departamento of departamentosMunicipios" [label]="departamento.NombreDepartamento">
            <mat-option class="text-secondary" *ngFor="let municipio of departamento.MunicipiosDepartamento" [value]="municipio.NombreMunicipio">
              {{municipio.NombreMunicipio}}
            </mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <mat-form-field style="width: 100%;">
    <textarea required matInput placeholder="Dirección" name="direccion" [(ngModel)]="direccion"></textarea>
  </mat-form-field>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-danger" (click)="cerrarModal()">Cancelar</button>
  <button type="button" class="btn btn-warning" (click)="agregarCliente()">Agregar</button>
</div>