.elevated{
    box-shadow: 0 5px 10px rgba(0,0,0,0.30), 0 10px 7px rgba(0,0,0,0.22);
}
body{
    background-color: #E5E9ED;
    margin: 0;
    padding: 0;
}

.example-container {
    height: 400px;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }