<nav class="navbar navbar-dark bg-dark elevated shake">
  <div class="container slideInLeft">
    <a class="navbar-brand text-light">AC Celulares</a>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Buscar...">
      <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
      <a href="#" class="text-light my-2 my-sm-0"><i class="fas fa-search"></i></a>
    </form>
  </div>
</nav>

<body>
  <div class="container pt-4">
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <div class="card bg-danger bounceIn text-white text-center p-3 mt-3 elevated">
            <div class="card-header text-center">
              <div class="card-icon elevated text-center text-dark card bg-warning bounceIn p-1">
                <i style="font-size: 2rem;" class="fas fa-calendar-day m-3"></i>
              </div>
            </div>
            <blockquote class="blockquote mb-0">
              <p>Ventas del Día.</p>
              <footer class="text-white">
                <b>
                  C$1,200
                </b>
              </footer>
            </blockquote>
          </div>
        </div>
        <div class="col-sm">
          <div class="card bg-primary bounceIn text-white text-center p-3 mt-3 elevated">
            <div class="card-header text-center">
              <div class="card-icon elevated text-center text-light card bg-secondary p-1">
                <i style="font-size: 2rem;" class="fas fa-calendar-week m-3"></i>
              </div>
            </div>
            <blockquote class="blockquote mb-0">
              <p>Ventas Semanales.</p>
              <footer class="text-white">
                <b>
                  C$10,300
                </b>
              </footer>
            </blockquote>
          </div>
        </div>
        <div class="col-sm">
          <div class=" text-dark card bg-warning bounceIn text-center p-3 mt-3 elevated">
            <div class="card-header text-center">
              <div class="card-icon elevated text-center text-light card bg-dark p-1">
                <i style="font-size: 2rem;" class="fas fa-calendar m-3"></i>
              </div>
            </div>
            <blockquote class="blockquote mb-0">
              <p>Ventas Mensuales.</p>
              <footer>
                <b class="text-dark fixe-bottom">
                  C$80,000
                </b>
              </footer>
            </blockquote>
          </div>
        </div>
      </div>
      <div class="mt-4 mb-4">
        <mat-card class="elevated bounceIn">
          <mat-card-title>
            <div class="text-dark">
              Porcentajes del total de ventas del Día.
            </div>
          </mat-card-title>
          <canvas #graficoPastelCanvas></canvas>
        </mat-card>
      </div>
      <div class=" mb-4">
        <mat-card class="elevated bounceIn">
          <mat-card-title>
            <div class="text-dark">
              Totales de Ventas en la Semana.
            </div>
            <canvas #graficoBarraCanvas></canvas>
          </mat-card-title>
        </mat-card>
      </div>
      <div class=" mb-4">
        <mat-card class="elevated bounceIn">
          <mat-card-title>
            <div class="text-dark">
              Totales de Ventas en el Año.
            </div>
            <canvas #graficoLineaCanvas></canvas>
          </mat-card-title>
        </mat-card>
      </div>
    </div>

    <div class="mb-4 slideInLeft">
      <div class="container-fluid bg-warning rounded-top p-4">
        <div class="float-right"><button class="elevated text-center" mat-fab color="accent"><i matListIcon class="fas fa-user-plus text-dark"></i></button></div>
        <mat-card-title class="ml-4 mt-4">
          Clientes
        </mat-card-title>
        <mat-form-field class="ml-4">
          <input matInput color="warn" (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
        </mat-form-field>
      </div>
      <table mat-table [dataSource]="dataSource" matSort>

        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>

        <!-- Telefono Column -->
        <ng-container matColumnDef="Telefono">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Teléfono </th>
          <td mat-cell *matCellDef="let row"> {{row.Telefono}} </td>
        </ng-container>

        <!-- Nombre Column -->
        <ng-container matColumnDef="Nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
          <td mat-cell *matCellDef="let row"> {{row.Nombre}} </td>
        </ng-container>

        <!-- Tipo Column -->
        <ng-container matColumnDef="Tipo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </th>
          <td mat-cell *matCellDef="let row"> {{row.Tipo}} </td>
        </ng-container>

        <!--Aqui comienzan los TH-->
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator class="elevated mb-3" [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</body>