<div class="modal-header bg-info">
  <h4 class="modal-title">Seleccionar Producto</h4>
  <button type="button" class="close" aria-label="Close" (click)="cerrarModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="container-fluid bg-info rounded-top p-4">
    <mat-form-field class="ml-4 mt-4">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
    </mat-form-field>
  </div>
  <table mat-table [dataSource]="productos" matSort class="table-hover shadow-lg rounded">

    <!-- Nombre Column -->
    <ng-container matColumnDef="Nombre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
      <td mat-cell *matCellDef="let producto" class="text-center"> {{producto.Nombre}} </td>
    </ng-container>

    <!-- Marca Column -->
    <ng-container matColumnDef="Marca">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Marca </th>
      <td mat-cell *matCellDef="let producto" class="text-center"> {{producto.Marca}} </td>
    </ng-container>

    <!-- Modelo Column -->
    <ng-container matColumnDef="Modelo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Modelo </th>
      <td mat-cell *matCellDef="let producto" class="text-center"> {{producto.Modelo}} </td>
    </ng-container>

    <!-- Categoria Column -->
    <ng-container matColumnDef="Categoria">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Categoria </th>
      <td mat-cell *matCellDef="let producto" class="text-center"> {{producto.Categoria}} </td>
    </ng-container>

    <!-- Acciones Column -->
    <ng-container matColumnDef="Acciones">
      <th mat-header-cell *matHeaderCellDef class="text-center"> Acciones </th>
      <td mat-cell *matCellDef="let producto" class="text-center">
        <div class="example-button-row">
          <button mat-icon-button matTooltip="Agregar Existencia" class="text-success" (click)='seleccionarProducto(producto)'>
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <!--Aqui comienzan los TH-->
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
    <tr mat-row *matRowDef="let producto; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator class="shadow-lg rounded" [pageSizeOptions]="[10, 50, 100]" showFirstLastButtons></mat-paginator>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-danger" (click)="cerrarModal()">Cancelar</button>
</div>