<body id="content">
  <!--Comienzan los Modals-->
  <!--Agregar nuevo cliente modal-->
  <ng-template #agregarCliente let-modal>
    <app-agregar-cliente (cerrarModalEvent)="modal.close('Close click')"></app-agregar-cliente>
  </ng-template>
  <!--Editar un Producto Modal-->
  <ng-template #editarProducto let-modal>
    <div class="modal-header bg-warning">
      <h4 class="modal-title">Editar Cliente</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form class="example-form">

        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="ID de Cliente" disabled value="CLI00001">
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <input type="text" matInput placeholder="Cédula" value="084-100899-1000J" disabled="true">
              </mat-form-field>
            </td>
          </tr>
        </table>
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Nombres" required value="Edycar Jesus">
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Apellidos" required value="Reyes Jimenez">
              </mat-form-field>
            </td>
          </tr>
        </table>

        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <textarea matInput placeholder="Dirección" placeholder="Gas. UNO San Martin 1/2 C. al Sur"></textarea>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <input type="number" placeholder="Numero Telefónico" matInput required value="85601622">
              </mat-form-field>
            </td>
          </tr>
        </table>

        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field>
                <input type="text" matInput value="Masculino" disabled="true">
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <select matNativeControl required>
                  <option value="Premium">Premium</option>
                  <option value="Estandard">Estandard</option>
                </select>
              </mat-form-field>
            </td>
          </tr>
        </table>
        <mat-form-field class="example-full-width">
          <input matInput type="email" placeholder="Correo Electrónico" value="edycarreyes@gmail.com">
        </mat-form-field>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Cancelar</button>
      <button type="button" class="btn btn-warning" (click)="modal.close('Close click')">Actualizar</button>
    </div>
  </ng-template>

  <!--Eliminar Producto Modal-->
  <ng-template #eliminarProducto let-modal>
    <div class="modal-header bg-danger">
      <h4 class="modal-title text-light">Eliminar Venta</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body bg-danger">
      <p class="text-light">¿Estás seguro que deseas eliminar el producto {{productoEliminar.id}} de la factura?</p>
    </div>
    <div class="modal-footer bg-danger">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click'); eliminarProductoFactura()">Eliminar</button>
      <button type="button" class="btn btn-warning" (click)="modal.close('Close click')">Cancelar</button>
    </div>
  </ng-template>

  <!--Descuento de Producto Modal-->
  <ng-template #descuentoProducto let-modal>
    <div class="modal-header bg-secondary">
      <h4 class="modal-title text-light">Calcular Descuento para {{productoSeleccionado.Id}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row mt-4">
        <div class="col-sm-6 col-md-6 col-lg 6">
          <mat-form-field class="fullWidth">
            <mat-select name="tipoDescuento" [(ngModel)]="tipoDescuento" (selectionChange)="cambiarTipodescuento()"
              placeholder="Tipo de Descuento">
              <mat-option value="porcentaje">
                % | En Porcentaje
              </mat-option>
              <mat-option value="cantidad">
                C$ | En Cantidad
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-6 col-md-6 col-lg 6">
          <mat-form-field class="fullWidth" *ngIf="!tipoDescuentoCantidad">
            <input type="number" matInput placeholder="Cantidad de Descuento" name="cantidadCalcularDescuento"
              [(ngModel)]="cantidadCalcularDescuento" (keyup)="calcularDescuento()">
          </mat-form-field>
          <mat-form-field class="fullWidth" *ngIf="tipoDescuentoCantidad">
            <input type="number" matInput placeholder="Porcentaje de Descuento" name="cantidadCalcularDescuento"
              [(ngModel)]="cantidadCalcularDescuento" (keyup)="calcularDescuento()">
          </mat-form-field>
        </div>
      </div>
      <div class="container-fluid mt-4">
        <div class="text-center text-primary">
          Descuento: C${{cantidadDescuento}}
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Eliminar</button>
      <button type="button" class="btn btn-warning" (click)="modal.close('Close click'); agregarDescuento()">Agregar
        Descuento</button>
    </div>
  </ng-template>

  <!--Mostrar Productos Producto Modal-->
  <ng-template style="width: 90vw;" #mostrarProductos let-modal>
    <app-seleccionar-producto (cerrarModalSeleccionarProductos)="modal.close('Close click')"></app-seleccionar-producto>
  </ng-template>

  <!--Mostrar Productos Descuento Producto Modal-->
  <ng-template style="width: 90vw;" #mostrarProductosDescuento let-modal>
    <app-seleccionar-producto-descuento (cerrarModalSeleccionarProductosDescuento)="modal.close('Close click')"></app-seleccionar-producto-descuento>
  </ng-template>

  <nav class="navbar navbar-dark bg-dark elevated shake">
    <div class="container slideInLeft">
      <a class="navbar-brand text-light">Facturar</a>
      <form class="form-inline">
        <span class="text-light">
          Tasa de Cambio: $1 = C${{tipoCambioMoneda}} |
        </span>
        <button mat-icon-button disabled="true" class="text-secondary text-light my-2 my-sm-0" matTooltip="Historial de Ventas">
          <mat-icon>history</mat-icon>
        </button>
      </form>
    </div>
  </nav>
  <div class="container mt-4">
    <div class="row d-flex justify-content-center align-items-center">
      <!--<div class="col-sm-12 col-md-6 col-lg-6 d-flex align-items-center justify-content-center mt-4">
        <mat-card class="elevated widthFullCard">
          <mat-card-title>
            <div class="row">
              <div class="col-sm-6 col-md-6 col-lg-6">
                Cliente
              </div>
              <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="float-right">
                  <button class="elevated text-center bg-warning" matTooltip="Agregar Nuevo Cliente" mat-fab (click)="openVerticallyCentered(agregarCliente)">
                    <mat-icon class="text-dark justify-content-center align-items-center">person_add</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </mat-card-title>
          <mat-card-content>
            <form class="example-form">
              <mat-form-field class="fullWidth">
                <input matInput placeholder="Seleccionar Cliente" aria-label="Cliente" (keyup)="buscarClientes()"
                  [matAutocomplete]="resultadosDeBusquedaCliente" [(ngModel)]="valordebusquedaCliente" name="valordebusquedaCliente">
                <mat-autocomplete #resultadosDeBusquedaCliente="matAutocomplete">
                  <mat-option *ngFor="let cliente of clientes | async" [value]="cliente.NombreCompleto">
                    <img class="example-option-img" aria-hidden [src]="cliente.PhotoURL" height="25">
                    <span>{{cliente.Nombres}}</span> |
                    <small>{{cliente.Tipo}}</small>
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 d-flex align-items-center justify-content-center mt-4">
        <mat-card class="elevated widthFullCard">
          <mat-card-title>
            Vendedor
          </mat-card-title>
          <mat-card-content>
            <form class="example-form">
              <mat-form-field class="fullWidth">
                <input matInput placeholder="Seleccionar Vendedor" aria-label="Cliente" (keyup)="buscarVendedor()"
                  [matAutocomplete]="resultadosDeBusquedaVendedor" [(ngModel)]="valordebusquedaVendedor" name="valordebusquedaVendedor">
                <mat-autocomplete #resultadosDeBusquedaVendedor="matAutocomplete">
                  <mat-option *ngFor="let vendedor of usuarios | async" [value]="vendedor.Correo">
                    <img class="example-option-img" aria-hidden [src]="vendedor.PhotoURL" height="25">
                    <span>{{vendedor.Nombres}}</span> |
                    <small>{{vendedor.Tipo}}</small>
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </form>
          </mat-card-content>
        </mat-card>
      </div>-->
      <!--<div class="col-sm-12 col-md-6 col-lg-6 d-flex align-items-center justify-content-center mt-4">
        <mat-card class="elevated widthFullCard">
          <mat-card-title>
            <div class="row">
              <div class="col-sm-6 col-md-6 col-lg-6">
                Calcular Descuento
              </div>
              <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="float-right">
                  <button class="elevated text-center bg-info" matTooltip="Listar Productos" mat-fab (click)="openVerticallyCentered(mostrarProductosDescuento)">
                    <mat-icon class="text-light justify-content-center align-items-center">format_list_bulleted</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </mat-card-title>
          <mat-card-content>
            <form class="example-form">
              <mat-form-field class="fullWidth">
                <input *ngIf="productoSeleccionadoDescuento" disabled matInput placeholder="Producto Seleccionado"
                  [(ngModel)]="productoSeleccionadoDescuento.Id" name="productoSeleccionadoDescuento.Id">
                <input *ngIf="!productoSeleccionadoDescuento" disabled matInput placeholder="Producto Seleccionado">
              </mat-form-field>
              <mat-form-field class="fullWidth">
                <input *ngIf="productoSeleccionadoDescuento" type="number" matInput placeholder="Precio C/U"
                  [(ngModel)]="productoSeleccionadoDescuento.PVenta" name="productoSeleccionadoDescuento.PVenta"
                  disabled="true">
                <input *ngIf="!productoSeleccionadoDescuento" type="number" matInput placeholder="Precio C/U" disabled="true">
              </mat-form-field>
              <mat-form-field class="fullWidth">
                <mat-select placeholder="Tipo de Descuento">
                  <mat-option value="porcentaje">
                    % | En Porcentaje
                  </mat-option>
                  <mat-option value="cantidad">
                    C$ | En Cantidad
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="fullWidth">
                <input type="number" matInput placeholder="Cantidad o Porcentaje de Descuento" value="100">
              </mat-form-field>
              <mat-form-field class="fullWidth">
                <span matPrefix>C$ &nbsp;</span>
                <input type="number" matInput placeholder="Precio Final" value="400" disabled="true">
              </mat-form-field>
            </form>
          </mat-card-content>
        </mat-card>
      </div>-->
      <!--<div class="col-sm-12 col-md-6 col-lg-6 d-flex align-items-center justify-content-center mt-4">
        <mat-card class="elevated widthFullCard">
          <mat-card-title>
            <div class="row">
              <div class="col-sm-6 col-md-6 col-lg-6">
                Producto
              </div>
              <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="float-right">
                  <button class="elevated text-center bg-info" matTooltip="Listar Productos" mat-fab (click)="openVerticallyCentered(mostrarProductos)">
                    <mat-icon class="text-light justify-content-center align-items-center">format_list_bulleted</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </mat-card-title>
          <mat-card-content>
            <form class="example-form">
              <mat-form-field class="fullWidth">
                <input *ngIf="productoSeleccionado" disabled matInput placeholder="Producto Seleccionado" [(ngModel)]="productoSeleccionado.Id"
                  name="productoSeleccionado.Id">
                <input *ngIf="!productoSeleccionado" disabled matInput placeholder="Producto Seleccionado">
              </mat-form-field>
              <mat-form-field class="fullWidth">
                <input *ngIf="productoSeleccionado" matInput type="number" placeholder="Stock" disabled [(ngModel)]="productoSeleccionado.Existencia"
                  name='productoSeleccionado.Existencia'>
                <input *ngIf="!productoSeleccionado" matInput type="number" placeholder="Stock" disabled>
              </mat-form-field>
              <mat-form-field class="fullWidth">
                <input matInput type="number" placeholder="Cantidad a Vender">
              </mat-form-field>
              <mat-form-field class="fullWidth">
                <span matPrefix>C$ &nbsp;</span>
                <input type="number" matInput placeholder="Descuento por Unidad">
              </mat-form-field>
            </form>
          </mat-card-content>
          <mat-card-footer class="mt-2 mb-2 ml-2">
            <button mat-raised-button class="bg-info text-light elevated" (click)="agregarProductoFactura()">
              Agregar Producto
            </button>
          </mat-card-footer>
        </mat-card>
      </div>-->
      <div class="d-flex align-items-center justify-content-center mt-4">
        <mat-card class="elevated">
          <mat-card-title>
            <div class="row">
              <div class="col-sm-6 col-md-6 col-lg-6">
                Agregar Productos
              </div>
              <div class="col-sm-6 col-md-6 col-lg-6">
                <div *ngIf="productoSeleccionado && !venderPrecioCompra" class="float-right ml-3">
                  <button class="elevated text-center bg-secondary" matTooltip="Agregar Descuento" mat-fab (click)="openVerticallyCentered(descuentoProducto)">
                    <mat-icon class="text-warning justify-content-center align-items-center">money_off</mat-icon>
                  </button>
                </div>
                <div class="float-right">
                  <button class="elevated text-center bg-warning" matTooltip="Agregar Nuevo Cliente" mat-fab (click)="openVerticallyCentered(agregarCliente)">
                    <mat-icon class="text-dark justify-content-center align-items-center">person_add</mat-icon>
                  </button>
                </div>
                <div class="float-right mr-3">
                  <button class="elevated text-center bg-info" matTooltip="Listar Productos" mat-fab (click)="openVerticallyCentered(mostrarProductos)">
                    <mat-icon class="text-light justify-content-center align-items-center">format_list_bulleted</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </mat-card-title>
          <mat-card-content>
            <form class="example-form">
              <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6">
                  <mat-form-field class="fullWidth">
                    <input matInput placeholder="Seleccionar Cliente" aria-label="Cliente" (keyup)="buscarClientes()"
                      [matAutocomplete]="resultadosDeBusquedaCliente" [(ngModel)]="valordebusquedaCliente" name="valordebusquedaCliente">
                    <mat-autocomplete #resultadosDeBusquedaCliente="matAutocomplete">
                      <mat-option *ngFor="let cliente of clientes | async" [value]="cliente.NombreCompleto">
                        <img class="example-option-img" aria-hidden [src]="cliente.PhotoURL" height="25">
                        <span>{{cliente.Nombres}}</span> |
                        <small>{{cliente.Tipo}}</small>
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                  <mat-form-field class="fullWidth">
                    <input matInput placeholder="Seleccionar Vendedor" aria-label="Cliente" (keyup)="buscarVendedor()"
                      [matAutocomplete]="resultadosDeBusquedaVendedor" [(ngModel)]="valordebusquedaVendedor" name="valordebusquedaVendedor">
                    <mat-autocomplete #resultadosDeBusquedaVendedor="matAutocomplete">
                      <mat-option *ngFor="let vendedor of usuarios | async" [value]="vendedor.Correo">
                        <img class="example-option-img" aria-hidden [src]="vendedor.PhotoURL" height="25">
                        <span>{{vendedor.Nombres}}</span> |
                        <small>{{vendedor.Tipo}}</small>
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6">
                  <mat-form-field class="fullWidth">
                    <input *ngIf="productoSeleccionado" disabled matInput placeholder="Producto Seleccionado"
                      [(ngModel)]="productoSeleccionado.Id" name="productoSeleccionado.Id">
                    <input *ngIf="!productoSeleccionado" disabled matInput placeholder="Producto Seleccionado">
                  </mat-form-field>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                  <mat-form-field class="fullWidth">
                    <input *ngIf="productoSeleccionado" matInput type="number" placeholder="Stock" disabled [(ngModel)]="productoSeleccionado.Existencia"
                      name='productoSeleccionado.Existencia'>
                    <input *ngIf="!productoSeleccionado" matInput type="number" placeholder="Stock" disabled>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6">
                  <mat-form-field class="fullWidth">
                    <input *ngIf="productoSeleccionado" type="number" matInput placeholder="Precio C/U" [(ngModel)]="productoSeleccionado.PVenta"
                      name="productoSeleccionadoDescuento.PVenta" disabled="true">
                    <input *ngIf="!productoSeleccionado" type="number" matInput placeholder="Precio C/U" disabled="true">
                  </mat-form-field>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                  <mat-form-field class="fullWidth">
                    <input matInput type="number" name="cantidadVender" [(ngModel)]="cantidadVender" placeholder="Cantidad a Vender">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6">
                  <mat-form-field class="fullWidth">
                    <span matPrefix>C$ &nbsp;</span>
                    <input disabled type="number" name="cantidadDescuento" [(ngModel)]="cantidadDescuento" matInput
                      placeholder="Descuento por Unidad">
                  </mat-form-field>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                  <mat-form-field class="fullWidth">
                    <span matPrefix>C$ &nbsp;</span>
                    <input type="number" matInput placeholder="Precio Final" name="precioFinal" [(ngModel)]="precioFinal"
                      disabled>
                  </mat-form-field>
                </div>
              </div>
            </form>
          </mat-card-content>
          <mat-card-footer class="mt-2 mb-2 mr-2">
            <div class="float-left">
              <mat-checkbox *ngIf="productoSeleccionado" class="example-margin" [(ngModel)]="venderPrecioCompra"
                (change)="venderAPrecioCompra()">
                ¿Vender a Precio de Compra?
              </mat-checkbox>
            </div>
            <div class="float-right">
              <button mat-raised-button class="bg-info text-light elevated" (click)="agregarProductoFactura()">
                Agregar Producto
              </button>
            </div>
          </mat-card-footer>
        </mat-card>
      </div>
    </div>
  </div>
  <div *ngIf="hayDatosEnTabla" class="container mt-4">
    <div class="mb-4 slideInLeft">
      <div class="container-fluid rounded-top p-4" style="background-color: #009688;">
        <div class="float-right">
          <button (click)="imprimirFactura()" class="elevated text-center" matTooltip="Vender Productos" mat-fab style="background-color: #02756a;">
            <mat-icon class="text-light">attach_money</mat-icon>
          </button>
        </div>
        <mat-card-title class="ml-4 mt-4 text-light">
          Factura
        </mat-card-title>
      </div>
      <table mat-table [dataSource]="productosFactura" matSort class="table-hover">

        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-light"> ID </th>
          <td mat-cell *matCellDef="let productoFactura"> {{productoFactura.id}} </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- Modelo Column -->
        <ng-container matColumnDef="Marca">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-light"> Marca </th>
          <td mat-cell *matCellDef="let productoFactura"> {{productoFactura.Marca}} </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- Modelo Column -->
        <ng-container matColumnDef="Modelo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-light"> Modelo </th>
          <td mat-cell *matCellDef="let productoFactura"> {{productoFactura.Modelo}} </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- Producto Column -->
        <ng-container matColumnDef="Producto">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-light"> Producto </th>
          <td mat-cell *matCellDef="let productoFactura"> {{productoFactura.Producto}} </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- Precio Column -->
        <ng-container matColumnDef="Precio">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-light"> Precio </th>
          <td mat-cell *matCellDef="let productoFactura"> C${{productoFactura.Precio}} </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- Descuento Column -->
        <ng-container matColumnDef="Descuento">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-light"> Descuento </th>
          <td mat-cell *matCellDef="let productoFactura">C${{productoFactura.Descuento}}</td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- Cantidad Column -->
        <ng-container matColumnDef="Cantidad">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-light"> Cantidad </th>
          <td mat-cell *matCellDef="let productoFactura"> {{productoFactura.Cantidad}} </td>
          <td mat-footer-cell *matFooterCellDef class="text-light text-center"> Total </td>
        </ng-container>

        <!-- TotalCordoba Column -->
        <ng-container matColumnDef="TotalCordoba">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-light"> Total C$ </th>
          <td mat-cell *matCellDef="let productoFactura"> C${{productoFactura.ValorCordoba}} </td>
          <td mat-footer-cell *matFooterCellDef class="bg-secondary text-light text-center">C${{totalCordoba()}}</td>
        </ng-container>

        <!-- TotalDolar Column -->
        <ng-container matColumnDef="TotalDolar">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-light"> Total $ </th>
          <td mat-cell *matCellDef="let productoFactura"> ${{productoFactura.ValorDolar}} </td>
          <td mat-footer-cell *matFooterCellDef class="bg-primary text-light text-center">${{totalDolar()}}</td>
        </ng-container>

        <!--Acciones Column-->
        <ng-container matColumnDef="Acciones">
          <th mat-header-cell *matHeaderCellDef class="text-light"> Acciones </th>
          <td mat-cell *matCellDef="let productoFactura">
            <div class="example-button-row">
              <button mat-icon-button color="warn" matTooltip="Eliminar Venta" (click)='openVerticallyCentered(eliminarProducto, productoFactura)'>
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!--Aqui comienzan los TH-->
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true" class="text-center text-light" style="background-color: #009688;"></tr>
        <tr mat-row *matRowDef="let productoFactura; columns: displayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky:true" style="background-color: #009688;"></tr>
      </table>
    </div>
  </div>
</body>