body{
    background-color: #E5E9ED;
}
table{
    width: 100%;
}
.elevated{
    box-shadow: 0 5px 10px rgba(0,0,0,0.30), 0 10px 7px rgba(0,0,0,0.22);
}

.widthFullCard{
    width: 300px;
}

.fullWidth{
    width: 100%;
}